input[type=checkbox] {
    accent-color: red;
  }
  
input[type=radio] {
accent-color: green;
}

input[type=range] {
accent-color: rgb(0, 0, 255);
}

progress {
accent-color: hsl(39, 100%, 50%);
}

#main {
    width: 70px;
    height: 300px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap:wrap;
    align-content: center;
  }
  
#main div {
    width: 70px;
    height: 70px;
  }

.bg1{
  background-color: red;
}

#firstname{
  background-color: yellow;
}

*{
  font-family: 'Times New Roman', Times, serif;
  background-color: aquamarine;
  
}

h4{
  font-size: larger;
  font-weight: 700;
}

p.intro{
  color: red;
}

a[target]{
  background-color: yellow;
}

a[target="_parent"]{
  color: red;
  font-weight: bold;
}

#container {
  width: 220px;
  height: 300px;
  border: 1px solid black; 
  display: flex;
  align-items: center;
}

#container div {
  flex: 1;
  border: 1px solid black;
  display: flex;
  align-items: center;
}

#animateddiv {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation: mymove 5s infinite; 
  
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 200px;}
}



